<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matan site</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="icon" href="favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Roboto:wght@100&family=Sacramento&display=swap" rel="stylesheet">
</head>
<body>
    <div class="top-continer">
        <img class="top-cloud" src="static/cloud.png" alt="cloud.img">
        <h1>I'm Matan</h1>
        <h2>a Computer Sciencs student</h2>
        <img src="static/mountain.png" alt="mountain.img">
        <img class="bottom-cloud" src="static/cloud.png" alt="cloud.img">
    </div>
    <div class="middle-container">
        <div class="profile">
          <img src="" alt="">
          <h2>Hello.</h2>
          <p>I am a Computer Sciencs student in the open university and a manual Qa in proofpoint</p>
        </div>
        <hr>
        <div class="skills">
          <h2>My Skills.</h2>
          <div class="skill-row">
            <img class="python-img" src="https://cdn-icons-png.flaticon.com/128/5968/5968350.png" alt="python-img">
            <h3>Python</h3>
            <p >I am a well know with python, I learned by my self with a number of diffrent sources online</p>
          </div>
          <div class="skill-row">
            <img class="java-img" src="https://cdn-icons-png.flaticon.com/128/226/226777.png" alt="java-img">
            <h3>Java</h3>
            <p > I studied the basics at university</p>
          </div>
          <div class="skill-row">
            <img class="sql-img" src="https://cdn-icons-png.flaticon.com/128/1265/1265531.png" alt="sql-img">
            <h3>SQL</h3>
            <p >I am well know in SQL able to write query up and including join level</p>
          </div>
          <div class="skill-row">
            <img class="ht-css-js-img" src="static/html-css-js.jpg" alt="ht-css-js-img">
            <h3>HTML,CSS</h3>
            <p >I know the structure and the foundationof html and css</p>
          </div>
          <div class="skill-row">
            <img class="cal-img" src="static/IMG_0930.jpeg" alt="">
            <h3>Calisthenics athlet</h3>
            <p >I am a calisthenics athlet, handstand, front lever, planche etc</p>
          </div>

        </div>
        <hr>
        <div class="contact-me">
          <h2>Get In Touch</h2>
          <h3>If you looking for someone how willing to work hard</h3>
          <p>Im the men for you , i will do all in my power for you so dont hastit and let be in touch</p>
          <a class="btn" href="mailto:Datan4@email.com">CONTACT ME</a>
        </div>
      </div>
      
      
      <div class="bottom-container">
        <a class="footer-link" href="https://www.linkedin.com/in/matan-amichai-b9b986223/">LinkedIn</a>
        <a class="footer-link" href="https://www.facebook.com/profile.php?id=1477426883">Facebook</a>
        <a class="footer-link" href="https://www.instagram.com/matanami1/">Instagram</a>
        <p class="copyrights">© 2018 Matan amichai.</p>
      </div>
      

    
</body>
</html>